/*-------- anhvv - 26.03.2020 ------*/

body {
    box-sizing: border-box;
    font: 16px 'Roboto', sans-serif;
    line-height: 1.5;
}

a {
    color: #fff;
}

header {
    background: #0099b0;
}

header ul li a {
    text-transform: uppercase;
}

header ul li {
    padding: 0 20px;
}

header ul li.active a {
    color: #6ad9e0;
}
header .navbar {
    min-height: 60px;
    padding: .5rem 0;
}

header .navbar-nav .active > .nav-link,
header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link.show,
header .navbar-nav .show > .nav-link {
    color: #6ad9e0;
}
header .navbar-nav i{
    padding: 0 20px;
}

header .navbar-brand{
    margin: 0 auto;
}
/*-------- Landing-page------*/
.MeB {
    background: url(../img/bgr-n.png) top left no-repeat;
    background-color: #00474a;
    height: calc(100vh - 60px);
    background-size: cover;
}
.MeB .center{
    height: calc(100vh - 60px);
    display: flex;   
    align-items: center;
}
.MeB .page-wrapper .logo img.mebook {
    height: 120px
}

.MeB .page-wrapper {
    background: url(../img/ebook.png) top right no-repeat;
    height: calc(100vh - 60px);
}

.MeB .page-wrapper h2 {
    color: #0099b0;
    font-size: 2rem;
    padding: 35px 0;
    line-height: 1.4;
    max-width: 700px;
    font-weight: normal;
}

.MeB .page-wrapper a.regist {
    text-align: center;
    color: #0a2d32;
    border-radius: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right, #25b648, #aed136);
    background-repeat: round;
    text-transform: uppercase;
    padding: 8px 40px;
    line-height: 2;
}

.MeB .page-wrapper .download {
    padding-top: 80px;
}

/*--------Giới thiệu dịch vụ------*/
body ul li {
    text-align: justify;
}

body .mbDetail h2,
body .mbDetail h5 {
    color: #0099b0;
}

.mbDetail {
    background-color: #ffff;
    height: 100vh;
    background-size: cover;
}

.mbDetail h2 {
    font-size: 2.2rem;
    padding-top: 40px
}

.mbDetail h5 {
    text-transform: uppercase;
    padding: 20px 15px;;
}

.mbDetail .page-wrapper ul li {
    line-height: 2;
}

.mbDetail b,
.mbDetail table th {
    font-weight: 500;
}

.mbDetail table thead {
    background: #0099b0;
    color: #fff;
}

.mbDetail table td,
.mbDetail table th {
    border: 1px solid #0099b0
}

.mbDetail ul li b.number:after {
    content: '1352';
    padding-left: 4px;
    color: #0099b0;
    font-size: 1.1rem;
}

.mbDetail footer {
    background: #f1f9fa;
    text-align: left;
}

.mbDetail footer .main-footer div {
    padding: 30px 0;
    font-size: .9rem;
    line-height: 1.9
}

.mbDetail footer .main-footer div ul li {
    list-style: none;
}

.mbDetail footer .main-footer div ul {
    padding-inline-start: 15px;
}

.mbDetail footer .main-footer img {
    position: relative;
    top: 30px;
    height: 80px;
}

.mbDetail footer .main-footer h6 {
    text-transform: uppercase;
    color: #0099b0;
    padding-bottom: 10px;
}

.mbDetail footer .sub-footer {
    background: #0099b0;
    color: #fff;
    font-size: .85rem;
    line-height: 2.5;
}

/*--------Đăng ký------*/
.mbRegist {
    background-color: #ffff;
    height: 100vh;
    background-size: cover;
}

.mbRegist h2 {
    font-size: 2.2rem;
    padding-top: 40px;
    color: #0099b0;
}

.mbRegist .page-wrapper ul li {
    line-height: 2;
}

.mbRegist b,
.mbRegist table th {
    font-weight: 450;
}

.mbRegist table thead {
    background: #0099b0;
    color: #fff;
}

.mbRegist table td,
.mbRegist table th {
    border: 1px solid #0099b0
}
.mbRegist tfoot a {
     text-align: center;
    color: #0a2d32;
    border-radius: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right, #25b648, #aed136);
    background-repeat: round;
    text-transform: uppercase;
    padding: 5px 38px;
    line-height: 2;
}
.mbRegist footer {
    background: #f1f9fa;
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.mbRegist footer .main-footer div {
    padding: 30px 0;
    font-size: .9rem;
    line-height: 1.9
}

.mbRegist footer .main-footer div ul li {
    list-style: none;
}

.mbRegist footer .main-footer div ul {
    padding-inline-start: 15px;
}

.mbRegist footer .main-footer img {
    position: relative;
    top: 30px;
    height: 80px;
}

.mbRegist footer .main-footer h6 {
    text-transform: uppercase;
    color: #0099b0;
    padding-bottom: 10px;
}

.mbRegist footer .sub-footer {
    background: #0099b0;
    color: #fff;
    font-size: .85rem;
    line-height: 2.5;
}
