/*--- Author: Anhvv
/*--- Date: 17/03/2020 --- */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=vietnamese');

* {
    font-family: Roboto;
}


body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

a {
    color: #fff;
    font-size: 1rem;
}

a:hover {
    text-decoration: none;
}

div.contact ul li b {
    margin-right: 0.3vh;
}

/*--- navbar --- */
.mw-detail header.topbar {
    background-color: #1b75bb;
}

.mw-detail header nav.navbar {
    margin: auto 14%;
}

.mw-detail header nav.navbar ul li.active a {
    color: #8adaff;
}

.mw-detail header nav.navbar .navbar-brand img {
    object-fit: contain;
    margin-right: 5.6vh;
}

.mw-detail header nav.navbar ul li {
    margin-right: 4.8vh;
}

.mw-detail header nav.navbar ul li a {
    text-transform: uppercase;
}

.mw-detail div.page-wrapper {
    margin: auto 15%;
    min-height: calc(100vh - 40.5vh) !important;
    padding-top: 2.1vh;

}

.mw-detail div.page-wrapper h3.heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.61;
    text-align: left;
    color: #1b75bb;
}

.mw-detail div.page-wrapper h4.title {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    color: #1b75bb;
    padding-top: 2.1vh;
}

.mw-detail div.page-wrapper div.service ul li {
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
    color: #555555;
}

.mw-detail div.page-wrapper div.service ul li b.number:after {
    content: '1095';
    color: #1b75bb;
    font-size: 1.1rem;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.book,
.mw-detail div.page-wrapper div.service ul div.pack-data table.book thead tr td,
.mw-detail div.page-wrapper div.service ul div.pack-data table.book tr td {
    border-radius: 0.3vh;
    border: solid 1px #1b75bb;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.book thead tr td {
    background-color: #1b75bb;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.book tr td {
    text-align: left;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.book tr td.text {
    font-size: .9rem;
    font-weight: 500;
    color: #555555;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.book tr td {
    font-size: 1rem;
    color: #555555;
}

.mw-detail div.page-wrapper div.service ul div.pack-data table.ebook {
    margin-right: 10%;
}

.mw-detail div.info {
    padding: 10px 14%;
    background-color: #f1f9fa;
}

.mw-detail div.info div.logo {
    margin-right: 2%;
}

.mw-detail div.info div.logo img {
    width: 10.9vw;
    height: 7.9vh;
    object-fit: contain;
}

.mw-detail div.info div.contact {
    text-align: left;
}

.mw-detail div.info div.contact h4.title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.71;
    text-align: left;
    color: #0099b0;
    text-transform: uppercase;
}

.mw-detail div.info div.contact ul {
    list-style: none;
    font-size: 1rem;
    line-height: 2;
    color: #555555;
    padding-inline-start: 0;
}

.mw-detail footer {
    background-color: #1b75bb;
    color: #ffffff;
}

.mw-detail footer div.copyright,
.mw-detail footer div.copyright a {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.mw-detail div.info div.logo {
    margin-right: 2%;
    height: 100%;
}
.mw-detail footer div.copyright div.left {
    padding-left: 14%;
}

/*------Regist-----*/
.mw-regist{
    overflow: hidden;
}
.mw-regist div.page-wrapper {
    margin: auto 15%;
    min-height: calc(100vh - 415px) !important;
}

.mw-regist div.pack-data table,
.mw-regist div.pack-data table td {
    border-radius: 0.3vh;
    border: solid 1px #1b75bb;
    text-align: left;
}

.mw-regist div.pack-data table thead td {
    background-color: #1b75bb;
    font-size: 2.1vh;
    text-align: center;
    color: #ffffff;
}

.mw-regist div.pack-data table tfoot td {
    text-align: center !important;
}

.mw-regist div.pack-data table tfoot button {
    min-width: 7.9vw;
    min-height: 3.8vh;
    border-radius: 1.9vh;
    background-image: linear-gradient(to right, #f15921, #fbac18);
    font-size: 1.7vh;
    font-weight: 500;
    text-align: center;
    color: #2d3831;
}
.mw-regist footer div.logo{
    height: 100%;
}